.footer {
    margin-top: 50px;
    padding-top: 31px;
    background-color: #575757;
}

.footer__title {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding-bottom: 39px;
}

.footer__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170px;
    padding-bottom: 46px;
    border-bottom: 1px solid #FFFFFF;
}

.list__item {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
}

.list__item-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.footer__social-link {
    display: block;
    height: 47px;
    width: 47px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 50%;
}

.inst {
    background-image: url(../images/instagram_icon.svg);
}

.facebook {
    background-image: url(../images/facebook_icon.svg);
}

.twitter {
    background-image: url(../images/twitter_icon.svg);
}