.header {
    padding-bottom: 47px;
    padding-top: 60px;
}

.header__title {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 54px;
    letter-spacing: 1px;
    color: #000000;
}

.navigation__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170px;
}

.navigation__item {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 1.8px;
}

.navigation__item-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}