.advertisement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-image: url(../images/uderwater-hotel.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    aspect-ratio: 90 / 29;
    margin: 0 auto;
    color: #FFFFFF;
}

.advertisement__image {
    margin-top: 46px;
}

.advertisement__title {
    font-family: "Roboto", sans-serif;
    font-size: 72px;
    text-transform: uppercase;

    margin-top: 38px;
    letter-spacing: 2px;
}

.advertisement__description {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    
    width: 456px;
    text-align: center;
    margin-top: 138px;
}

.reviews {
    padding-top: 41px;
}

.reviews__title {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    margin-bottom: 21px;
    text-align: center;
}

.reviews__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;

    max-width: 1168px;
}

.reviews__item {
    max-width: 370px;
}

.reviews__item-image {
    margin-bottom: 21px;
}

.reviews__item-title {
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-weight: 1000;
    color: #000000;
    margin-bottom: 13px;
}

.reviews__item-description {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 450;
    color: #000000;
    line-height: 1.5;
}

.reviews__item-link {
    text-decoration: none;
    color: inherit;
}

.reviews__item-link--active {
    color: #FF7931;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
    padding-top:36px;
    padding-bottom:36px;
    background-color: #F7F7F7;
    background-image: url(../images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.service__title {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 2.2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.service__list {
    max-width: 370px;
    text-align: center;
    margin-bottom: 48px;
}

.service__item {
    margin-bottom: 51px;
}

.service__item:last-child {
    margin-bottom: 0;
}

.service__item-title {
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-weight: 1000;
    color: #000000;
    margin-bottom: 12px;
}

.service__item-description {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
}

.service__button {
    height: 47px;
    width: 170px;
    background-color: #FF7931;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.service__button-image {
    margin-left: 10px;
}
